:root {
	/* Color pallete */
	--color-primary: #FFFFFF;
	--color-secondary: #000000;
	--color-tertiary: #AA1111;


	/* Font sizes */
	--font-size-small: 16px;
	--font-size-medium: 18px;
	--font-size-large: 24px;
	--font-size-header: 32px;
	--font-size-icon: 48px;
}

/* Typography */
html {
	font-family: "Verdana";
}

a {
	text-decoration: none;
}

h1 {
    font-size: 5rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: var(--font-size-header);
	font-weight: 600;
	margin-bottom: 1em;
}

h3 {
	font-size: var(--font-size-large);
	font-weight: 600;
	margin: 0.5em 0;
}

p {
	font-size: var(--font-size-medium);
	line-height: 1.5em;
}

/* Layout */
.flex-row {
    display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.l-centered {
    width: 80%;
    margin: 0 auto;
}